<h1>All Games Played</h1>

<table>
  <tr>
    <th>Game</th>
    <th>Played on</th>
    <th>Played by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @game_plays.each do |game_play| %>
  <tr>
    <td><%= game_play.game.try(:name) %></td>
    <td><%= game_play.created_at.to_s(:long) %></td>
    <td>
      <% game_play.game_players.map(&:player).each do |player| %>
        <%= avatar_image_tag player, 20, :title => player.name %>
      <% end %>
    </td>
    <td><%= link_to 'Show', game_play %></td>
    <td><%= link_to 'Edit', [:edit, game_play] %></td>
    <td><%= link_to 'Destroy', game_play, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game play', :new_game_play %>
